<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-crash-trigger"
    version="1.0.0">
  <name>crash trigger</name>
  <description>Cordova Crash Trigger</description>
  <license>Apache 2.0</license>
  <keywords>cordova plugin, crash trigger</keywords>
  <repo>https://github.com/baidan4855/cordova-plugin-crash-trigger.git</repo>
  <issue>https://github.com/baidan4855/cordova-plugin-crash-trigger/issues</issue>

  <hook type="after_plugin_install" src="src/hooks/after_install.js" />
  <hook type="before_plugin_uninstall" src="src/hooks/before_uninstall.js" />
</plugin>
